<div class="container tc">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>eCommerce</h1>
            <p>ANORG is bringing automation and technology in agriculture area to increase quality and production by innovative and new techniques. WeGlobal aim to enhance the quality of former's life by educating and giving them opportunity to increase sources of income.</p>
            <p>ANORG AgroTech aim to bring awareness towards Agriculture benefits and opportunities to Farmers. It provides financial support to implement new techniques and provide consultancy service to increase productivity. ANORG is serving Farmers group to organise ‘Agro Education’ and ‘Agro Workshops’. ANORG aiming to bring culture of ‘Samudayik Kheti’ as well as bringing local and global market at Farmers’s doorstep by ANORG Global presence.</p>
            <button class="btn btn-outline-danger">Read More</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <img src="../../../assets/edutech1.png" class="img-fluid" alt=""> -->
            <div class="scan">
                <div class="fingerprint">

                </div>
            </div>

        </div>
    </div>
</div>

