<div class="container tc">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Educational Project</h1>
            <p>ANORG is providing digital platform to bring quality education and connecting mentor and mentee by ﬂexible home education model.</p>
            <p>ANORG aim to wave towards kids education. ‘Kids Empire’ is established brand of ANORG Edutech with vision of ‘nourishing the child’. Play with kids, provide good parenting tips to all parents who are looking for some advices in this area kids empire is dedicated towards Nursery, playgroup, primary and middle school children to nurture them with mathematics, number system, learn science with , sec Robotics as such and there behavioural aspects and psychological.</p>
            <button class="btn btn-outline-danger">Read More</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <img src="../../../assets/edutech1.png" class="img-fluid" alt=""> -->
            <div class="scan">
                <div class="fingerprint">

                </div>
            </div>

        </div>
    </div>
</div>
