


  <nav class="navbar navbar-expand-lg navbar-light navigation-wrap" id="head">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo4.png" width="170" height="80" alt="">
        
      <!-- <span class="comName">DiGiT Global</span> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
       

      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clients
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mumbai</a></li>
              <li><a class="dropdown-item" href="#">Nagpur</a></li>
              <li><a class="dropdown-item" href="#">Pune</a></li>
              <li><a class="dropdown-item" href="#">Banglore</a></li>
              <li><a class="dropdown-item" href="#">Delhi</a></li>
              <li><a class="dropdown-item" href="#">Chennai</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">EduTech</a></li>
              <li><a class="dropdown-item" href="#">AgroTech</a></li>
              <li><a class="dropdown-item" href="#">Technology</a></li>
              <li><a class="dropdown-item" href="#">eCommerce</a></li>
              <li><a class="dropdown-item" href="#">Robotics</a></li>
              <li><a class="dropdown-item" href="#">Projects</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">News & Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>
  
    <div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
     
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img src="../../assets/vacancy-bg.png" class="d-block w-100" alt="...">
         
         <div class="carousel-caption">
           <h5>WE ARE</h5>
           <h4>HIRING</h4>
          <h6><button type="button" class="btn btn-outline-danger">Placement</button>
            <button type="button" class="btn btn-outline-danger">Training</button>
            <button type="button" class="btn btn-outline-danger">Projects</button>
          </h6>
         </div>
       </div>
     
     </div>
     
   </div>

   <div class="service-name">
     <h5>PLACEMENT</h5>
   </div>
   <section class="service section " id="services">
   <div class="container mt-5 training">
     <div class="row">
       <div class="col-lg-6">
         <h3>ANORG is aiming to provide platform to
          job Aspirants. ANORG have below 3 major area to place people in the industries.
          </h3>
          <h6><button type="button" class="btn btn-outline-danger">ENROLL NOW</button></h6>
       </div>
       <div class="col-lg-6 mb-3">
       <img width="400px" class="img-fluid" src="../../../assets/recrut-cycle.png">
      </div>
     </div>
     <div class="row service-menu">
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <h4>Track 1</h4>
          <p>Ready to Deploy – experienced candidates who are looking for good career opportunities in MNC'S And Global World.</p>
        </div>
      </div>
       <!-- ###### Service item end ******** -->
        <!-- ###### Service item start ******** -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-user-tag"></i>
          </div>
          <h4>Track 2</h4>
          <p>To be ready –engineers and management graduates with 6 month -12 month experience who required to polish their niche skill and make entery in track #1
              </p>
        </div>
      </div>
       <!-- ###### Service item end ******** -->
        <!-- ###### Service item start ******** -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
          <div class="icon">
            <i class="fa fa-user-shield"></i>
          </div>
          <h4>Track 3</h4>
          <p>Freshers, B.Sc , B.Com , BCA graduate's who are looking to start their Career. We have STP (Select Training & Placement) program.</p>
        </div>
      </div>
     </div>

   </div>
   </section>

   <div class="service-name">
    <h5>Training</h5>
  </div>
 
  <div class="container training-cycle">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid" width="400px" src="../../../assets/training-cycle.png" alt="">
      </div>
      <div class="col-lg-6 tc">
       <h3>Special Features</h3>
       <ul class="py-3">
        <li>Placement service and job offers</li>
        <li>Training for preparation of job Interviees</li>
        <li>Preference to Incubation centre members in IT Developments projects od Digit Global</li>
        <li>Employment Opportunities in all fields</li>
        <li>Carrier Counseling and Awarness</li>
        <li>Job interviews arrangements and helps in preparation</li>
        <li>Part time earing opportunities</li>
        <li>Arranging Leactures, Seminards, Conferences and Events for conncecting people</li>
        <li>Intership opportunities</li>
        <li>College Projects and Report assignments/ Preparations.</li>
        <li>Provide working Experience and award certificates on experience after completion of training and assignments</li>

      </ul>
      </div>
    </div>
  </div>
  <app-contact></app-contact>
  <app-footer></app-footer>