<div class="container tc">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>ANORG Technology</h1>
            <p>ANORG is aiming to cater the digital projects and IT Development projects. For these WeGlobal monitoring management graduates & engineers in following technologies to develop them on digital transformation program:</p>
           <ul>
            <li>Core java, spring boot, micro services, native API.</li>
           <li>C#, .net, micro services, native API.</li>
           <li>Mobile Application development (android), react native, angular JS, node, JS.</li>
           <li>Data analytics.</li>
           <li>Product development.</li>
           <li>Full stack developer.</li>
        </ul>
            <button class="btn btn-outline-danger">Read More</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <img src="../../../assets/edutech1.png" class="img-fluid" alt=""> -->
            <div class="scan">
                <div class="fingerprint">

                </div>
            </div>

        </div>
    </div>
</div>
