<div class="service-name mb-3">
    <h5>PLACEMENT</h5>
  </div>


<div class="container tc mb-5">
    <div class="row  tc">
        <h1 class="tc">Best Service for your <span class="rainbowText">career!!!</span></h1>
        <div class="col-lg-3 col-md-4 col-sm-10 box1 tc">
           
            <img class="boxlogo" src="../../../assets/trainig.png" width="150px">
            <h3>Training</h3>
            <p>Anorg provide you a better training for growth your career in future</p>
        </div>
        <div class="col-lg-3 box1">
            <img class="boxlogo" src="../../../assets/projectslogo.png" width="140px">
            <h3>Projects</h3>
            <p>ANORG deliverd school, educational projects for your career </p>
        </div>
        <div class="col-lg-3 box1">
            <img class="boxlogo" src="../../../assets/jobsearch.png" width="165px">
            <h3>Vacancy</h3>
            <p>ANORG create JOB opportunity in different field and ..</p>
        </div>
    </div>
</div>
