<nav class="navbar navbar-expand-lg navbar-light navigation-wrap" id="head">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo4.png" width="170" height="80" alt="">
        
      <!-- <span class="comName">DiGiT Global</span> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
       

      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clients
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mumbai</a></li>
              <li><a class="dropdown-item" href="#">Nagpur</a></li>
              <li><a class="dropdown-item" href="#">Pune</a></li>
              <li><a class="dropdown-item" href="#">Banglore</a></li>
              <li><a class="dropdown-item" href="#">Delhi</a></li>
              <li><a class="dropdown-item" href="#">Chennai</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">EduTech</a></li>
              <li><a class="dropdown-item" href="#">AgroTech</a></li>
              <li><a class="dropdown-item" href="#">Technology</a></li>
              <li><a class="dropdown-item" href="#">eCommerce</a></li>
              <li><a class="dropdown-item" href="#">Robotics</a></li>
              <li><a class="dropdown-item" href="#">Projects</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">News & Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>
  
    <div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
     
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img src="../../assets/technology-para.png" class="d-block w-100" alt="...">
         
         <div class="carousel-caption">
           <h5>ANORG</h5>
           <h4>TECHNOLOGY</h4>
           <div class="container tc">
             <div class="row tc">
               <div class="col-lg-12 col-md-12 col-sm-12 tc">
                <h6 class="tc"><button  class="btn btn-outline-danger" href="#edutech">Embedded</button>
                  <button  class="btn btn-outline-danger">Agrotech</button>
                  <button  class="btn btn-outline-danger" href="#edutech">Edutech</button>
                </h6>
               </div>
             </div>
           </div>
         
         </div>
       </div>
     
     </div>
     
   </div>

<section>
    <div class="service-name">
        <h5>Embedded</h5>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                <p class="first-para">ANORG Robotics dedicated to bring new talents and mentor them in robotics and embedded systems. This is enabling to deploy these talents in industries automation, educational and technical projects.</p>
                <p>ANORG Robotics is operating as joint venture with one of the best entity BMOS technologies.
                    BMOS Technologies is pioneer player and having operations in Central India since 12 years including 10 years in technical faculty and 2 years in the area of robotics and embedded systems development.
                    </p>
              </div>
              <div class="col-lg-6">
                  <img src="../../../assets/robotics.png" class="img-fluid" alt="">
            </div>
          </div>
      </div>


</section>

<section class="mb-3">
    <div class="service-name mb-3">
        <h5>Agrotech</h5>
      </div>
      <div class="container">
          <div class="row tc">
            <div class="col-lg-12">
                <img src="../../../assets/agrotech-para1.png" class="img-fluid tc" width="900px"  height="130px" alt="">
            </div>
              <div class="col-lg-6">
                <img src="../../../assets/agrotech-para.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <h1>Agricuture Technology</h1>
                <p>WeGlobal is bringing automation and technology in agriculture area to increase quality and production by innovative and new techniques.
                    WeGlobal aim to enhance the quality of former's life by educating and giving them opportunity to increase sources of income.
                </p> 
            </div>
          </div>
      </div>
</section>
<section class="mb-3" id="edutech">
    <div class="service-name mb-3">
        <h5>EduTech</h5>
      </div>
      <div class="conatiner">
          <div class="row tc">
              <div class="col-lg-6">
                <h1>Educational Project</h1>
                <p>ANORG is providing digital platform to bring quality education and connecting mentor and mentee by ﬂexible home education model.</p>
                <p>ANORG aim to wave towards kids education. ‘Kids Empire’ is established brand of WeGlobal Edutech with vision of ‘nourishing the child’. Play with kids, provide good parenting tips to all parents who are looking for some advices in this area kids empire is dedicated towards Nursery, playgroup, primary and middle school children to nurture them with mathematics, number system, learn science with , sec Robotics as such and there behavioural aspects and psychological.</p>
              </div>
              <div class="col-lg-6">
                <img src="../../../assets/edutech-para.png" width="70%" class="img-fluid" alt="">
              </div>
          </div>
      </div>
</section>
   


<app-contact></app-contact>
<app-footer></app-footer>
