<nav class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 tc">
                
                    <img src="../../assets/logo4.png" width="160" height="80" alt="">
                 
                  <p>Aviskar Tower, Santaji Nagar (Gajanan Colony),
                      Near Chauragade school Gondia- 441641 (MS),
                  </p>
                  <!-- <p>Contact :- 9529895225, 9529876365</p> -->
            </div>
            <div class="col-md-4">
               <!-- <h3 class="foot-mid">About Us</h3>
               <h3  >Services</h3>
               <h3  >Our Leaders</h3> -->

               
               <ul>
                <h3 class="tc quick">Quick Links</h3>
                <li><h3>About Us</h3></li>
               <li><h3  >Services</h3></li>
               <li><h3>Our Leaders</h3></li></ul>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2>STAY CONNECTED WITH US</h2>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 tc d-flex flex-row mb-3 socile">
                            <div class="p-2"><i class="fab fa-facebook fb fa-2x"></i></div>
                            <div class="p-2"><i class="fab fa-twitter-square tw fa-2x"></i></div>
                            <div class="p-2"><i class="fab fa-whatsapp-square wa fa-2x"></i></div>
                            <div class="p-2"><i class="fab fa-instagram in fa-2x"></i></div>
                        </div>

                       
                       
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>This Website is operated by <b>Nomad Foods Europe Limited.</b> Our trading name is Nomad Foods. We are registered in England and Wales under company number 5879466 and we have our registered office at No. 1 New Square, Bedfont Lakes Business Park, Feltham, Middlesex, TW14 8HA, UK which is also our main trading address. Our VAT number is:GB896102608</p>
                </div>
            </div>
        </div>
    </div>
</nav>

